<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="false" verbose="1">
    
  <listeners>
  <listener class-name="com.ExtentReportListner.ExtentReporterNG" />
  </listeners>    
  

<test name="SK_SafeWalk_Incident" >
<classes>
<class name="com.appium.DeviceScripts.SK_SafeWalk_Incident" />
</classes>
</test>
  
<test name="SK_Timer_Incident" >
<classes>
<class name="com.appium.DeviceScripts.SK_Timer_Incident" />
</classes>
</test> 

<test name="SK_GroupCall" >
    
<classes>
<class name="com.appium.DeviceScripts.SK_GroupCall" />
</classes>
</test>


<test name="SK_SOS_Incident" >
<classes>
<class name="com.appium.DeviceScripts.SK_SOS_Incident" />
</classes>
</test>

 
<test name="SK_Tips_NonAnonymous" >
<classes>
<class name="com.appium.DeviceScripts.SK_Tips_NonAnonymous" />
</classes>
</test>




<test name="SK_AudioLocation_Incident" >
<classes>
<class name="com.appium.DeviceScripts.SK_AudioLocation_Incident" />
</classes>
</test>



<test name="SK_VideoLocation_Incident" >
<classes>
<class name="com.appium.DeviceScripts.SK_VideoLocation_Incident" />
</classes>
</test>




<test name="SK_Maps" >
<classes>
<class name="com.appium.DeviceScripts.SK_Maps" />
</classes>
</test>


<test name="SK_SteerpathMAP" >
<classes>
<class name="com.appium.DeviceScripts.SK_SteerpathMAP" />
</classes>
</test>


<test name="SK_MyHistory" >
<classes>
<class name="com.appium.DeviceScripts.SK_MyHistory" />
</classes>
</test>
    
  

<test name="SK_ERP" >
<classes>
<class name="com.appium.DeviceScripts.SK_ERP" />
</classes>
</test>
    
   
<test name="SK_VisitorManagement"> 
<classes>
<class name="com.appium.DeviceScripts.SK_VisitorManagement" />
</classes>
</test>


<test name="SK_SendNotification"> 
<classes>
<class name="com.appium.DeviceScripts.SK_SendNotification" />
</classes>
</test>

    
        
<test name="SK_EditProfile" >
<classes>
<class name="com.appium.DeviceScripts.SK_EditProfile" />
</classes>
</test>


<test name="SK_Organization" >
<classes>
<class name="com.appium.DeviceScripts.SK_Organization" />
</classes>
</test>

 <test name="SK_911_Incident" >
 <classes>
<class name="com.appium.DeviceScripts.SK_911_Incident" />
</classes>
</test>


<test name="SK_Tips_Anonymous" >
<classes>
<class name="com.appium.DeviceScripts.SK_Tips_Anonymous" />
</classes>
</test>


<test name="SK_CreateProfile" >
<classes>
<class name="com.appium.DeviceScripts.SK_CreateProfile" />
</classes>
</test>



</suite>