<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">

	<listeners>
		<listener
			class-name="com.ExtentReportListner.ExtentReporterNG" />
	</listeners>

	 	<test name="SK_Emulator_SOS">
		<classes>
			<class name="com.appium.EmulatorScripts.SK_Emulator_SOS" />
		</classes>
	</test>

	
	<test name="SK_Emulator_SafeWalk">
		<classes>
			<class name="com.appium.EmulatorScripts.SK_Emulator_SafeWalk" />
		</classes>
	</test>
	
	<!-- <test name="SK_Emulator_GroupCall">
		<classes>
			<class name="com.appium.EmulatorScripts.SK_Emulator_GroupCall" />
		</classes>
	</test> -->
	

	<test name="SK_Emulator_Timer">
		<classes>
			<class name="com.appium.EmulatorScripts.SK_Emulator_Timer" />
		</classes>
	</test>
	
	
	
	

</suite>
